/* src/css/HomePage.css */
.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .home-container h1 {
    font-size: 3rem;
    color: #333;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #555;
  }
  