.main {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
    flex-direction: column;
}

p {
    margin: 0;
    color: #5F6366;
}

.custom-input {
    border-radius: 4px;
    height: 34px;
    margin-bottom: 20px;
    width: 20%;
}

.custom-input:focus {
    border-color: #00245A !important;
    box-shadow: 0 0 0 0;
}

.heading {
    color: #00245A;
    font-size: 2rem;
    font-weight: 800;
}

.subheading {
    color: #5F6366;
    font-size: 1.5rem;
    font-weight: 700;
}

.section-title {
    color: #5F6366;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-filter .input-label {
    margin-right: 10px;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    background-color: gray;
}

